version: '3.8'

services:
  freeradius:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: freeradius
    restart: unless-stopped
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    environment:
      - TZ=UTC
    volumes:
      - freeradius_logs:/var/log/freeradius

volumes:
  freeradius_logs:
    driver: local
